{% extends 'algorithms/baseAlgorithm.html' %}

{% block input_fields %}
    {% if example %}
    <h2>Example {{example}}</h2>
    <span>Input: {{example_values.input}}</span>
    <span>Target: {{example_values.target}}</span>
    <span>Expected output: {{example_values.output}}</span>
    {% else %}
    <!-- On custom example display form values for overwrite and saving -->
    <form method="post" class="col-values">
    <label for="input">Input (example: 1,2,3,4,5)</label>
    <input name="input" id="input" value="{{custom_example_input}}" required>
    <label for="target">Target</label>
    <input name="target" id="target" value="{{target}}" required>
    <input type="submit" value="Save">
    </form>
    {% endif %}
{% endblock %}

{% block special_content %}
    <div class="row-values">
        {% for ind in range(input_length) %}
        <div class="col-values-centered">
            <!-- Check each index, if the index is the same as passed in i or j, display arrow above -->
            {% if step["i"] == ind %}
            <!-- If the answer has been found then change arrow colour to green -->
            {% if step["answer_found"] %}
            <span class="i_j_indicators">i</span>
            <div class="arrow-down-green"></div>
            {% else %}
            <span class="i_j_indicators">i</span>
            <div class="arrow-down"></div>
            {% endif %}
            {% elif step["j"] == ind %}
            <!-- If the answer has been found then change arrow colour to green -->
            {% if step["answer_found"] %}
            <span class="i_j_indicators">j</span>
            <div class="arrow-down-green"></div>
            {% else %}
            <span class="i_j_indicators">j</span>
            <div class="arrow-down"></div>
            {% endif %}
            {% else %}
            <!-- Display the arrow hidden to still make space above the box -->
            <span class="hidden_i_j_indicators">i</span>
            <div class="arrow-down-hidden"></div>
            {% endif %}
            <div class="box">
                <span class="box-value">{{example_values.input[ind]}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}