{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data Structures{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <span>{{description}}</span>
    <br><br>
    <div class="code-box">
        <span>{{code | safe}}</span>
    </div>
    <br><br>
    <h2>Examples</h2>
    <body onload="scrollToElement()">
        <div class="example-container">
            <div style="flex: 1">
                <h3>{{example.title}}</h3>
                <span class="pre-wrap">{{example.description}}</span>
                <br><br>
                <div class="code-box">
                    <span>{{example.input | safe}}</span>
                </div>
            {% if example.output != '' %}
                <div class="output-box">
                    <h3>Output</h3>
                    <span class="pre-wrap">{{example.output}}</span>
                </div>
                <br><br>
            {% endif %}
            </div>
            <div class="special-content">
                {% if example.state != null %}
                {% block special_content %}{% endblock %}
                {% endif %}
            </div>
        </div>
        <div id="nav-buttons" class="nav-buttons">
            {% if id > 1 %}
                <form action="{{url_for('data-structures.stack', id=id -1)}}" method="GET">
                    <input type="submit" value="Previous">
                </form>
            {% else %}
            <form action="{{url_for('data-structures.stack', id=id -1)}}" method="GET">
                <input type="submit" value="Previous" class="disabled">
            </form>
            {% endif %} 
            {% if id < length %}
                <form action="{{url_for('data-structures.stack', id=id + 1)}}" method="GET">
                    <input type="submit" value="Next">
                </form>
            {% else %}
            <form action="{{url_for('data-structures.stack', id=id + 1)}}" method="GET">
                <input type="submit" value="Next" class="disabled">
            </form>
            {% endif %} 
        </div>
    </body>

    <script>
        function scrollToElement() {
            var element = document.getElementById("nav-buttons");
            element.scrollIntoView();
        }
    </script>
    
{% endblock %}
