{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data Structures{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <span>{{description}}</span>
    <br><br>
    <span>{{code}}</span>
    <br>
    {% for example in examples %}
    <head>
        <style>{{example.input.css | safe}}</style>
    </head>
    <body>
        <div>
            <h3>{{example.title}}</h3>
            <span>{{example.description}}</span>
            <br><br>
            <span>code line: {{example.code_number}}</span>
            <br><br>
            <div class="code">
                <span>{{example.input.code | safe}}</span>
            </div>
            <br><br>
            {% with example_output=example.output %}
                {% include 'dataStructures/stack.html' %}
            {% endwith %}
        </div>
    </body>
    {% endfor %}
{% endblock %}