{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data Structures{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <span>{{description}}</span>
    <br><br>
    <div class="code-box">
        <span>{{code | safe}}</span>
    </div>
    <br><br>
    <h2>Examples</h2>
    {% for example in examples %}
    <body>
        <div>
            <h3>{{example.title}}</h3>
            <span class="pre-wrap">{{example.description}}</span>
            <br><br>
            <div class="code-box">
                <span>{{example.input | safe}}</span>
            </div>
            <br><br>
            {% if example.output != '' %}
                <div class="output-box">
                    <h3>Output</h3>
                    <span class="pre-wrap">{{example.output}}</span>
                </div>
                <br><br>
            {% endif %}
            {% with example_state=example.state %}
                {% include 'dataStructures/stack.html' %}
            {% endwith %}
        </div>
    </body>
    {% endfor %}
    <input type="submit" value="Next">
    <input type="submit" value="Previous">
{% endblock %}