{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Data Structures{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <span>{{description}}</span>
    <br><br>
    <span>{{code}}</span>
    <br>
    {% for example in examples %}
        <h3>{{example.title}}</h3>
        <span>{{example.description}}</span>
        <br><br>
        <span>code line: {{example.code_number}}</span>
        <br><br>
        <span>{{example.input}}</span>
        <br><br>
        {% with example_output=example.output %}
            {% include 'dataStructures/stack.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}