html {
    font-family: sans-serif;
    background: #252525;
    color: rgb(145, 145, 145);
}

body {
    margin: 0;
}

a {
    color: rgb(145, 145, 145);
    text-decoration: none;
}

.navheader {
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
}

.content {
    margin: 10px;
}

span {
    white-space: pre-wrap;
}

.box {
    width: 3vw;
    height: 3vw;
    background-color: #f0f0f0;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-value {
    font-size: 20px;
    font-weight: bold;
  }

  .code {
    background-color: #000000;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    overflow: auto;
    padding: 1em;
    tab-size: 4;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  