{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body onload="scrollToElement()">
        <div class="code-box">
            <span>{{code | safe}}</span>
        </div>
    </body>
    
    <script>
        function scrollToElement() {
            var element = document.getElementById("anchor_1");
            element.scrollIntoView();
        }
    </script>

{% endblock %}

{% block stickyFooter %}
<!-- Footer -->
<div class="col-values">
    <div class="row-values">
        {% for example_id in range(examples_length) %}
            <form action="{{url_for(request.url_rule.endpoint, id=id, example=example_id)}}" method="GET">
                <input type="submit" value="Example {{example_id + 1}}">
            </form>
        {% endfor %}
    </div>
    <h2>Example {{example}}</h2>
    <span>Input: {{example_values.input}}</span>
    <span>Expected output: {{example_values.output}}</span>
</div>
<div>
    {% for key, val in step.items() %}
    {% if key != "special_content" %}
    <div>
        <span>{{key}}</span>
        <div class="value-display">{{val}}</div>
    </div>
    {% endif %}
    {% endfor %}
    <div id="nav-buttons" class="nav-buttons">
        {% if id > 1 %}
        <form action="{{url_for(request.url_rule.endpoint, example=example, id=id -1)}}" method="GET">
            <input type="submit" value="Previous">
        </form>
        {% else %}
        <form action="{{url_for(request.url_rule.endpoint, example=example, id=id -1)}}" method="GET">
            <input type="submit" value="Previous" class="disabled">
        </form>
        {% endif %} 
        {% if id < length %}
        <form action="{{url_for(request.url_rule.endpoint, example=example, id=id + 1)}}" method="GET">
            <input type="submit" value="Next">
        </form>
        {% else %}
        <form action="{{url_for(request.url_rule.endpoint, example=example, id=id + 1)}}" method="GET">
            <input type="submit" value="Next" class="disabled">
        </form>
        {% endif %} 
    </div>
</div>
{% endblock %}