<!doctype html>
<title>{{title}} - PyRefine</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="navheader">
    <h1><a href="{{ url_for('index') }}">PyRefine</a></h1>
</nav>
<section class="content">
  <header>
    <h1>{% block title %}{{title}}{% endblock %}</h1>
  </header>
  {% block content %}{% endblock %}
</section>
{%- macro footer() -%}
  {% block stickyFooter %}{% endblock %}
{%- endmacro -%}
<section class="sticky-footer">
  {{ footer()}}
</section>
<section class="not-sticky-footer">
  {{ footer()}}
</section>