{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
    <nav>
        <h2>Data Structures</h2>
        <u1>
            <li><a href="{{ url_for('data-structures.stack', id=1)}}">Stack</a>
            <li><a href="{{ url_for('data-structures.linked_list', id=1)}}">Singly Linked List</a>
            <li><a href="{{ url_for('data-structures.double_linked_list', id=1)}}">Doubly Linked List</a>
        </u1>
        <h2>Algorithms</h2>
        <h3>Leet Code</h3>
        <li><a href="{{ url_for('algorithms.twoSum', id=1, example=1, method="two_sum_brute_force") }}">Two Sum</a>
        <li><a href="{{ url_for('algorithms.addTwoNumbers', id=1, example=1) }}">Add Two Numbers</a>
    </nav>
{% endblock %}